deployment/ingest/(1._Pre-requisite)_Download_connector_for_Database_source.json
{"flowContents":{"identifier":"41fa0301-f934-3350-a503-b77b45826165","instanceIdentifier":"2d817770-01e9-1c84-ffff-ffffa0c41c22","name":"(1. Pre-requisite) Download connector for Database source","comments":"","position":{"x":16.0,"y":-72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1f154cf3-aa9d-3c2b-b2fa-48073d20149e","instanceIdentifier":"cf69f7c4-93f5-3356-a09b-f192597ef1b0","name":"UpdateAttribute","comments":"","position":{"x":936.0,"y":304.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"postgresql-42.2.26.jre6.jar","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":"filename"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"3bee82fa-1b3f-32df-ac11-9620ae9c949b","instanceIdentifier":"c1e57680-5457-3ac8-a879-92cfb832790d","name":"PutFile","comments":"","position":{"x":936.0,"y":552.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{driver_location}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"37799cd3-bf4a-3d90-bd1b-dd62683b4a94","instanceIdentifier":"8287a111-f7c0-3069-9391-683053e24c2b","name":"LogMessage","comments":"","position":{"x":320.0,"y":560.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"log-message":"validate the jdbc url and folder location to download the driver","log-level":"info","log-prefix":"download-driver-flow-failed"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"522f01ce-9660-342d-a3bd-d8edf099cea4","instanceIdentifier":"f02ac458-4912-3805-99f3-3b234af56c94","name":"InvokeHTTP","comments":"","position":{"x":320.0,"y":304.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"#{url_to_download_jdbc}","Content-Type":"${mime.type}","form-body-form-name":null,"flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"oauth2-access-token-provider":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token provider","identifiesControllerService":true,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 days","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4afd5bb7-28bd-328d-9e21-23dc1573f4b9","instanceIdentifier":"1cc49a8c-1608-3f4f-b4be-94b1bd456481","name":"","source":{"id":"522f01ce-9660-342d-a3bd-d8edf099cea4","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"InvokeHTTP","comments":"","instanceIdentifier":"f02ac458-4912-3805-99f3-3b234af56c94"},"destination":{"id":"1f154cf3-aa9d-3c2b-b2fa-48073d20149e","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"UpdateAttribute","comments":"","instanceIdentifier":"cf69f7c4-93f5-3356-a09b-f192597ef1b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":808.0,"y":368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"906f562c-08cf-3316-8cf4-ce4e870a59f2","instanceIdentifier":"672f324e-c4f9-3b1b-ae69-546337b21996","name":"","source":{"id":"1f154cf3-aa9d-3c2b-b2fa-48073d20149e","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"UpdateAttribute","comments":"","instanceIdentifier":"cf69f7c4-93f5-3356-a09b-f192597ef1b0"},"destination":{"id":"3bee82fa-1b3f-32df-ac11-9620ae9c949b","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"PutFile","comments":"","instanceIdentifier":"c1e57680-5457-3ac8-a879-92cfb832790d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"c0092140-ebb3-3c97-b1f9-c11a2aafaafb","instanceIdentifier":"b9a4bcdc-29bd-3beb-a83c-d377809ade98","name":"","source":{"id":"3bee82fa-1b3f-32df-ac11-9620ae9c949b","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"PutFile","comments":"","instanceIdentifier":"c1e57680-5457-3ac8-a879-92cfb832790d"},"destination":{"id":"37799cd3-bf4a-3d90-bd1b-dd62683b4a94","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"LogMessage","comments":"","instanceIdentifier":"8287a111-f7c0-3069-9391-683053e24c2b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"},{"identifier":"ca545444-f8fb-3a49-a889-312f01194596","instanceIdentifier":"2bb438b4-b39a-331d-b9a1-e49db309c390","name":"","source":{"id":"522f01ce-9660-342d-a3bd-d8edf099cea4","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"InvokeHTTP","comments":"","instanceIdentifier":"f02ac458-4912-3805-99f3-3b234af56c94"},"destination":{"id":"37799cd3-bf4a-3d90-bd1b-dd62683b4a94","type":"PROCESSOR","groupId":"41fa0301-f934-3350-a503-b77b45826165","name":"LogMessage","comments":"","instanceIdentifier":"8287a111-f7c0-3069-9391-683053e24c2b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"}],"labels":[{"identifier":"d800984b-ff9e-3127-9d56-e161802be209","instanceIdentifier":"b8f70fa6-ef5c-3d89-891f-11a1cfd5d66d","position":{"x":536.0,"y":200.0},"label":"Self service trial (Airlines use-case)","zIndex":0,"width":928.0,"height":328.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"41fa0301-f934-3350-a503-b77b45826165"}],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"download-jdbc-driver","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"download-jdbc-driver":{"name":"download-jdbc-driver","parameters":[{"name":"driver_location","description":"","sensitive":false,"value":"/tmp/jdbc"},{"name":"url_to_download_jdbc","description":"","sensitive":false,"value":"https://jdbc.postgresql.org/download/postgresql-42.2.26.jre6.jar"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}