deployment/ingest/step_1_load_from_source_db_to_cdp_one_landing_zone.json
{"flowContents":{"identifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e","instanceIdentifier":"c5aa1feb-0183-1000-ffff-ffffbae1c70e","name":"Step 1) Load from source DB to CDP One Landing zone","comments":"","position":{"x":0.0,"y":222.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e3687f72-2780-3e09-a793-ea958636e40a","instanceIdentifier":"fe396730-1112-35a5-8fb8-6f7ebe0ea857","name":"Notify","comments":"","position":{"x":96.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"7cdac9db-ca6a-32a6-85a2-0976e800df78","signal-buffer-count":"1","release-signal-id":"stage-1-complete","signal-counter-name":"stage-1-complete","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"5255660e-5093-3420-837b-fc841ce73bf9","instanceIdentifier":"426cbef8-3368-32af-9d36-4aeea9f8b078","name":"List contents of external database","comments":"","position":{"x":120.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ListDatabaseTables","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"list-db-tables-db-connection":"10f19566-d2dd-3232-bd4a-3f1430718548","list-db-refresh-interval":"0 sec","list-db-tables-catalog":null,"record-writer":null,"list-db-include-count":"false","list-db-tables-name-pattern":null,"list-db-tables-schema-pattern":null,"list-db-tables-types":"TABLE"},"propertyDescriptors":{"list-db-tables-db-connection":{"name":"list-db-tables-db-connection","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"list-db-refresh-interval":{"name":"list-db-refresh-interval","displayName":"Refresh Interval","identifiesControllerService":false,"sensitive":false},"list-db-tables-catalog":{"name":"list-db-tables-catalog","displayName":"Catalog","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"list-db-include-count":{"name":"list-db-include-count","displayName":"Include Count","identifiesControllerService":false,"sensitive":false},"list-db-tables-name-pattern":{"name":"list-db-tables-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-schema-pattern":{"name":"list-db-tables-schema-pattern","displayName":"Schema Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-types":{"name":"list-db-tables-types","displayName":"Table Types","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","instanceIdentifier":"419926b6-6e4e-3161-badf-a7167843b1f3","name":"Construct Filename","comments":"","position":{"x":728.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${db.table.name}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":"filename"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","instanceIdentifier":"72c7f5fc-93e2-3380-b789-1a53a849fc7f","name":"Execute extraction SQL Query","comments":"","position":{"x":1368.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","instanceIdentifier":"2af0427e-43ed-39be-8cba-5c62bb72a39f","name":"Get UUID & update attributes","comments":"","position":{"x":1368.0,"y":-264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"229b49f8-f9ac-357b-972a-942d7d007348","instanceIdentifier":"fdeefb44-627c-32df-b264-ae4a9a10500d","name":"PutCDPObjectStore","comments":"","position":{"x":96.0,"y":256.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp-password}","cdp-storage-location":null,"Kerberos Principal":"#{cdp-username}","writing-strategy":"simpleWrite","Directory":"#{landing-directory-path}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","instanceIdentifier":"63dc2e7e-f95f-3f8e-8317-a8351c4d6b5f","name":"Fetch Tables","comments":"","position":{"x":720.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"${db.table.name}","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","gen-table-fetch-partition-size":"100000000","Columns to Return":null,"Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"2838878d-8568-3c35-948b-90c78619752f","instanceIdentifier":"ba2f3686-cdb1-3573-af1d-58c5707b72a3","name":"Transform Avro to CSV","comments":"","position":{"x":1376.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"record-writer":"927db376-db14-3d63-ae23-92ea59b9cda9","record-reader":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"4b340f73-0e06-3970-b8b7-63abe81c8311","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf","name":"LogMessage","comments":"","position":{"x":720.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"log-message":"validate the processor configuration","log-level":"error","log-prefix":"nifi flow failed"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"816cdf9b-e143-3a6f-bd0a-f009b82e3761","instanceIdentifier":"85093ef1-df21-3859-94a7-c0fa36d993c5","name":"","source":{"id":"e3687f72-2780-3e09-a793-ea958636e40a","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Notify","comments":"","instanceIdentifier":"fe396730-1112-35a5-8fb8-6f7ebe0ea857"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"LogMessage","comments":"","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"5054c52a-81c4-317b-9cdb-fbde912083f9","instanceIdentifier":"c16e8507-095f-33e1-b9f6-02a531632309","name":"","source":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"2af0427e-43ed-39be-8cba-5c62bb72a39f"},"destination":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"72c7f5fc-93e2-3380-b789-1a53a849fc7f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"3a67ba3b-e07e-3edb-8409-b58ac57dada8","instanceIdentifier":"bdfb349e-7b55-3689-b852-2c9d20f1d13a","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"72c7f5fc-93e2-3380-b789-1a53a849fc7f"},"destination":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"ba2f3686-cdb1-3573-af1d-58c5707b72a3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"d11529ea-f580-3452-b369-82a381f8aa9b","instanceIdentifier":"2f01a883-0106-3012-9017-491a38214dce","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Fetch Tables","comments":"","instanceIdentifier":"63dc2e7e-f95f-3f8e-8317-a8351c4d6b5f"},"destination":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"2af0427e-43ed-39be-8cba-5c62bb72a39f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"ef23ff49-f001-3f2a-bca9-9a43eed1669a","instanceIdentifier":"420b59f6-fb3b-3585-a5f6-3f1138943b0a","name":"","source":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"fdeefb44-627c-32df-b264-ae4a9a10500d"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"LogMessage","comments":"","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"9f463ba7-164e-3683-a242-c99ddc7215f1","instanceIdentifier":"6f5bc852-7008-327b-becd-7392896d2d8d","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"ba2f3686-cdb1-3573-af1d-58c5707b72a3"},"destination":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Construct Filename","comments":"","instanceIdentifier":"419926b6-6e4e-3161-badf-a7167843b1f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"4a147ebf-92e2-330a-b466-e764d9567a46","instanceIdentifier":"0a7c15cf-2c0b-3495-9e19-53bb687a54f6","name":"","source":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Construct Filename","comments":"","instanceIdentifier":"419926b6-6e4e-3161-badf-a7167843b1f3"},"destination":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"fdeefb44-627c-32df-b264-ae4a9a10500d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"2d032514-7755-38cf-8678-f54403edd86d","instanceIdentifier":"06a37701-6c1f-31a8-adc5-9b6d681fbc6e","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"ba2f3686-cdb1-3573-af1d-58c5707b72a3"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"LogMessage","comments":"","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"cb5d25b0-bca2-30e7-96ca-8d3b3041ead3","instanceIdentifier":"5c909ffa-a4a3-31f9-b5d6-267455b0688d","name":"","source":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"fdeefb44-627c-32df-b264-ae4a9a10500d"},"destination":{"id":"e3687f72-2780-3e09-a793-ea958636e40a","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Notify","comments":"","instanceIdentifier":"fe396730-1112-35a5-8fb8-6f7ebe0ea857"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"fe2c5ffc-4638-34c5-a989-1899f4fe3085","instanceIdentifier":"b31b6863-c3d9-3e98-84f0-5bcebaa735ae","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Fetch Tables","comments":"","instanceIdentifier":"63dc2e7e-f95f-3f8e-8317-a8351c4d6b5f"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"LogMessage","comments":"","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"e0b58c6e-0b71-3670-a150-bf6300ab3bb8","instanceIdentifier":"24b0a0a5-32c4-312c-b52f-fc5df1700108","name":"","source":{"id":"5255660e-5093-3420-837b-fc841ce73bf9","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"List contents of external database","comments":"","instanceIdentifier":"426cbef8-3368-32af-9d36-4aeea9f8b078"},"destination":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Fetch Tables","comments":"","instanceIdentifier":"63dc2e7e-f95f-3f8e-8317-a8351c4d6b5f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"d4e4e01b-df88-3090-87c4-c079146eb7e8","instanceIdentifier":"02280c46-d874-39ab-b08f-c2d3379f9038","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"72c7f5fc-93e2-3380-b789-1a53a849fc7f"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"efc9177b-9df9-334b-87ee-26c645eb5f6e","name":"LogMessage","comments":"","instanceIdentifier":"dec3994c-0a83-3ffd-b44a-d407e03821cf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"}],"labels":[{"identifier":"9a3efee1-c619-385a-96ee-cd3e66a71a73","instanceIdentifier":"dbfa4205-e0e3-3a19-ab61-0da14aa8cb1a","position":{"x":504.0,"y":-80.0},"label":"Error handling","zIndex":0,"width":784.0,"height":288.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"}],"funnels":[],"controllerServices":[{"identifier":"927db376-db14-3d63-ae23-92ea59b9cda9","instanceIdentifier":"f434ef7a-4864-3e5c-8659-b8ca641ecb05","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"full-schema-attribute","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"10f19566-d2dd-3232-bd4a-3f1430718548","instanceIdentifier":"6213bd6b-4a00-38de-a5e5-59bf47d12c0b","name":"Database Connection","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{db_host}:#{db_port}/#{db_name}?ssl=true&sslmode=allow","dbcp-time-between-eviction-runs":"-1","Database User":"#{db_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{driver_location}","dbcp-max-idle-conns":"8","Password":"#{db_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","instanceIdentifier":"570b6187-8588-3be6-a096-807850fb34c2","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"},{"identifier":"7cdac9db-ca6a-32a6-85a2-0976e800df78","instanceIdentifier":"3332e341-8f58-3b44-ab06-ca79829c5b22","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"efc9177b-9df9-334b-87ee-26c645eb5f6e"}],"variables":{},"parameterContextName":"load-data-from-ext-db","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"load-data-from-ext-db":{"name":"load-data-from-ext-db","parameters":[{"name":"db_name","description":"","sensitive":false,"value":"airlinedata"},{"name":"cdp-password","description":"","sensitive":true},{"name":"landing-directory-path","description":"","sensitive":false,"value":"s3a://vmuzyrnd6olu-cdp-private-default-ikvldyr/landing/airlines"},{"name":"driver_location","description":"","sensitive":false,"value":"/tmp/jdbc/postgresql-42.2.26.jre6.jar"},{"name":"db_username","description":"","sensitive":false,"value":"sstreadwrite"},{"name":"db_port","description":"","sensitive":false,"value":"5432"},{"name":"cdp-username","description":"","sensitive":false,"value":"srv_cz_machine_user_vmuzyrnd6o"},{"name":"db_password","description":"","sensitive":true},{"name":"db_host","description":"","sensitive":false,"value":"self-service-trial-source.cluster-ro-cohsea0udkfq.us-east-1.rds.amazonaws.com"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}
