deployment/ingest/step_1_load_from_source_db_to_cdp_one_landing_zone.json
{"flowContents":{"identifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","instanceIdentifier":"ae559dd8-7e81-36b5-af4d-8cd6bc17f459","name":"Step 1) Load from source DB to CDP One Landing zone","comments":"","position":{"x":48.0,"y":8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e3687f72-2780-3e09-a793-ea958636e40a","instanceIdentifier":"3f805196-4f5c-1ccc-0000-000005087ff9","name":"Notify","comments":"","position":{"x":96.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"7cdac9db-ca6a-32a6-85a2-0976e800df78","signal-buffer-count":"1","release-signal-id":"stage-1-complete","signal-counter-name":"stage-1-complete","attribute-cache-regex":null},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"5255660e-5093-3420-837b-fc841ce73bf9","instanceIdentifier":"ec4221d5-b124-3856-9808-63ffbd82b7f0","name":"List contents of external database","comments":"","position":{"x":120.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ListDatabaseTables","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"list-db-tables-db-connection":"10f19566-d2dd-3232-bd4a-3f1430718548","list-db-refresh-interval":"0 sec","list-db-tables-catalog":null,"record-writer":null,"list-db-include-count":"false","list-db-tables-name-pattern":null,"list-db-tables-schema-pattern":null,"list-db-tables-types":"TABLE"},"propertyDescriptors":{"list-db-tables-db-connection":{"name":"list-db-tables-db-connection","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"list-db-refresh-interval":{"name":"list-db-refresh-interval","displayName":"Refresh Interval","identifiesControllerService":false,"sensitive":false},"list-db-tables-catalog":{"name":"list-db-tables-catalog","displayName":"Catalog","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"list-db-include-count":{"name":"list-db-include-count","displayName":"Include Count","identifiesControllerService":false,"sensitive":false},"list-db-tables-name-pattern":{"name":"list-db-tables-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-schema-pattern":{"name":"list-db-tables-schema-pattern","displayName":"Schema Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-types":{"name":"list-db-tables-types","displayName":"Table Types","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"600 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","instanceIdentifier":"3eb4f65d-1561-3ce6-8105-a1f015e73f34","name":"Construct Filename","comments":"","position":{"x":728.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${db.table.name}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":"filename"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","instanceIdentifier":"0b44e7ab-5214-359b-a47a-8abb55dbb461","name":"Execute extraction SQL Query","comments":"","position":{"x":1368.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"229b49f8-f9ac-357b-972a-942d7d007348","instanceIdentifier":"f64cd446-0182-1000-0000-000002baa64e","name":"PutCDPObjectStore","comments":"","position":{"x":96.0,"y":256.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp-password}","cdp-storage-location":null,"Kerberos Principal":"#{cdp-username}","writing-strategy":"simpleWrite","Directory":"#{landing-directory-path}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","instanceIdentifier":"d86686b7-5509-357f-adbb-6f8fbfe02e3c","name":"Get UUID & update attributes","comments":"","position":{"x":1368.0,"y":-264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","instanceIdentifier":"a1c44e98-9dac-34c2-a136-b341ff6e339c","name":"Fetch Tables","comments":"","position":{"x":720.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"${db.table.name}","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","gen-table-fetch-partition-size":"100000000","Columns to Return":null,"Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"2838878d-8568-3c35-948b-90c78619752f","instanceIdentifier":"f0543c54-4f8f-307a-b4ab-87bd86b06bd7","name":"Transform Avro to CSV","comments":"","position":{"x":1376.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"record-writer":"927db376-db14-3d63-ae23-92ea59b9cda9","record-reader":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"4b340f73-0e06-3970-b8b7-63abe81c8311","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c","name":"LogMessage","comments":"","position":{"x":720.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"log-message":"validate the processor configuration","log-level":"error","log-prefix":"nifi flow failed"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"816cdf9b-e143-3a6f-bd0a-f009b82e3761","instanceIdentifier":"3f8051ae-4f5c-1ccc-0000-000011c7053e","name":"","source":{"id":"e3687f72-2780-3e09-a793-ea958636e40a","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Notify","comments":"","instanceIdentifier":"3f805196-4f5c-1ccc-0000-000005087ff9"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"LogMessage","comments":"","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"5054c52a-81c4-317b-9cdb-fbde912083f9","instanceIdentifier":"e16de4ed-ec53-3f71-aba0-c00e15150fda","name":"","source":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"d86686b7-5509-357f-adbb-6f8fbfe02e3c"},"destination":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"0b44e7ab-5214-359b-a47a-8abb55dbb461"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"3a67ba3b-e07e-3edb-8409-b58ac57dada8","instanceIdentifier":"6e2d9e2f-e108-3e56-9b3e-0a8b856646fa","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"0b44e7ab-5214-359b-a47a-8abb55dbb461"},"destination":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"f0543c54-4f8f-307a-b4ab-87bd86b06bd7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"d11529ea-f580-3452-b369-82a381f8aa9b","instanceIdentifier":"168f2ef5-19cb-305c-9e0f-66b94625c963","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Fetch Tables","comments":"","instanceIdentifier":"a1c44e98-9dac-34c2-a136-b341ff6e339c"},"destination":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"d86686b7-5509-357f-adbb-6f8fbfe02e3c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"ef23ff49-f001-3f2a-bca9-9a43eed1669a","instanceIdentifier":"f64f901d-0182-1000-ffff-ffffe7001589","name":"","source":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f64cd446-0182-1000-0000-000002baa64e"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"LogMessage","comments":"","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"9f463ba7-164e-3683-a242-c99ddc7215f1","instanceIdentifier":"6de4a238-44f8-3786-85b6-3261ed5a0768","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"f0543c54-4f8f-307a-b4ab-87bd86b06bd7"},"destination":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Construct Filename","comments":"","instanceIdentifier":"3eb4f65d-1561-3ce6-8105-a1f015e73f34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"4a147ebf-92e2-330a-b466-e764d9567a46","instanceIdentifier":"f650a5e3-0182-1000-0000-00003ab65796","name":"","source":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Construct Filename","comments":"","instanceIdentifier":"3eb4f65d-1561-3ce6-8105-a1f015e73f34"},"destination":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f64cd446-0182-1000-0000-000002baa64e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"2d032514-7755-38cf-8678-f54403edd86d","instanceIdentifier":"bfd25715-dc0c-3387-bc40-afb89a665717","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"f0543c54-4f8f-307a-b4ab-87bd86b06bd7"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"LogMessage","comments":"","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"cb5d25b0-bca2-30e7-96ca-8d3b3041ead3","instanceIdentifier":"3f805199-4f5c-1ccc-0000-00006fdd838d","name":"","source":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"f64cd446-0182-1000-0000-000002baa64e"},"destination":{"id":"e3687f72-2780-3e09-a793-ea958636e40a","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Notify","comments":"","instanceIdentifier":"3f805196-4f5c-1ccc-0000-000005087ff9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"fe2c5ffc-4638-34c5-a989-1899f4fe3085","instanceIdentifier":"73bf3d64-3681-3f66-91d0-3188f8e2f510","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Fetch Tables","comments":"","instanceIdentifier":"a1c44e98-9dac-34c2-a136-b341ff6e339c"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"LogMessage","comments":"","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"e0b58c6e-0b71-3670-a150-bf6300ab3bb8","instanceIdentifier":"100c79b5-e1b0-36d7-ad2f-b46f6bf3ab98","name":"","source":{"id":"5255660e-5093-3420-837b-fc841ce73bf9","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"List contents of external database","comments":"","instanceIdentifier":"ec4221d5-b124-3856-9808-63ffbd82b7f0"},"destination":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Fetch Tables","comments":"","instanceIdentifier":"a1c44e98-9dac-34c2-a136-b341ff6e339c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"d4e4e01b-df88-3090-87c4-c079146eb7e8","instanceIdentifier":"91ac3930-8b78-3f2c-ac96-92c34895fb7c","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"0b44e7ab-5214-359b-a47a-8abb55dbb461"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe","name":"LogMessage","comments":"","instanceIdentifier":"9f14d87a-9cc2-3469-9a62-451095c8964c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"}],"labels":[{"identifier":"9a3efee1-c619-385a-96ee-cd3e66a71a73","instanceIdentifier":"f58f0bde-0182-1000-0000-000033b30301","position":{"x":504.0,"y":-80.0},"label":"Error handling","zIndex":0,"width":784.0,"height":288.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"}],"funnels":[],"controllerServices":[{"identifier":"927db376-db14-3d63-ae23-92ea59b9cda9","instanceIdentifier":"079c07ee-2ea2-3b4e-9d87-78cae5d52a0a","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"full-schema-attribute","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"10f19566-d2dd-3232-bd4a-3f1430718548","instanceIdentifier":"aa984901-9696-3398-8f4a-66d1c2ef01ab","name":"Database Connection","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{db_host}:#{db_port}/#{db_name}","dbcp-time-between-eviction-runs":"-1","Database User":"#{db_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{driver_location}","dbcp-max-idle-conns":"8","Password":"#{db_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"7cdac9db-ca6a-32a6-85a2-0976e800df78","instanceIdentifier":"3f8051c1-4f5c-1ccc-0000-0000728b70c3","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"},{"identifier":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","instanceIdentifier":"b5511d43-450f-3ca3-9dd6-2a65637039e1","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"dfaf1f24-72f5-368b-8bee-e82c03b50cfe"}],"variables":{},"parameterContextName":"load-data-from-ext-db","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"load-data-from-ext-db":{"name":"load-data-from-ext-db","parameters":[{"name":"cdp-password","description":"","sensitive":true},{"name":"db_name","description":"","sensitive":false,"value":"airlinedata"},{"name":"landing-directory-path","description":"","sensitive":false,"value":"s3a://cdponedemo-cdp-private-default-3hxxiqv/landing/airlines"},{"name":"driver_location","description":"","sensitive":false,"value":"/tmp/jdbc/postgresql-42.2.26.jre6.jar"},{"name":"db_username","description":"","sensitive":false,"value":"sstreadwrite"},{"name":"cdp-username","description":"","sensitive":false,"value":"gsandeepkumar"},{"name":"db_port","description":"","sensitive":false,"value":"5432"},{"name":"db_password","description":"","sensitive":true},{"name":"db_host","description":"","sensitive":false,"value":"self-service-trial-source.cluster-ro-cohsea0udkfq.us-east-1.rds.amazonaws.com"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}
