deployment/ingest/step_1_load_from_source_db_to_cdp_one_landing_zone.json
{"flowContents":{"identifier":"b9145865-c268-3d63-ada5-bdb6d75a8467","instanceIdentifier":"2d8175df-01e9-1c84-ffff-ffffbea85975","name":"step_1_load_from_source_db_to_cdp_one_landing_zone","comments":"","position":{"x":112.0,"y":240.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5255660e-5093-3420-837b-fc841ce73bf9","instanceIdentifier":"9f7cc3b1-ea01-3e96-853b-444e2e3980b6","name":"List contents of external database","comments":"","position":{"x":120.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ListDatabaseTables","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"list-db-tables-db-connection":"10f19566-d2dd-3232-bd4a-3f1430718548","list-db-refresh-interval":"0 sec","list-db-tables-catalog":null,"record-writer":null,"list-db-include-count":"false","list-db-tables-name-pattern":null,"list-db-tables-schema-pattern":null,"list-db-tables-types":"TABLE"},"propertyDescriptors":{"list-db-tables-db-connection":{"name":"list-db-tables-db-connection","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"list-db-refresh-interval":{"name":"list-db-refresh-interval","displayName":"Refresh Interval","identifiesControllerService":false,"sensitive":false},"list-db-tables-catalog":{"name":"list-db-tables-catalog","displayName":"Catalog","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"list-db-include-count":{"name":"list-db-include-count","displayName":"Include Count","identifiesControllerService":false,"sensitive":false},"list-db-tables-name-pattern":{"name":"list-db-tables-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-schema-pattern":{"name":"list-db-tables-schema-pattern","displayName":"Schema Pattern","identifiesControllerService":false,"sensitive":false},"list-db-tables-types":{"name":"list-db-tables-types","displayName":"Table Types","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"600000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","instanceIdentifier":"9a46e7a7-a0fa-3a9e-be3c-3b7626f440d1","name":"Construct Filename","comments":"","position":{"x":728.0,"y":256.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${db.table.name}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":"filename"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","instanceIdentifier":"263365a1-2ec0-36ef-90bb-0aa5cb9fbf82","name":"Execute extraction SQL Query","comments":"","position":{"x":1368.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","instanceIdentifier":"1e5848a5-881d-34ac-ae33-724b81106eb7","name":"Get UUID & update attributes","comments":"","position":{"x":1368.0,"y":-264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${uuid}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"229b49f8-f9ac-357b-972a-942d7d007348","instanceIdentifier":"aba0d0ed-5038-3554-ac48-a852c03e4b8d","name":"PutCDPObjectStore","comments":"","position":{"x":96.0,"y":256.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp-password}","cdp-storage-location":null,"Kerberos Principal":"#{cdp-username}","writing-strategy":"simpleWrite","Directory":"#{landing-directory-path}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["success"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","instanceIdentifier":"e7746f4c-4801-3881-9523-41b6c871dc37","name":"Fetch Tables","comments":"","position":{"x":720.0,"y":-256.0},"type":"org.apache.nifi.processors.standard.GenerateTableFetch","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"gen-table-output-flowfile-on-zero-results":"false","Table Name":"${db.table.name}","db-fetch-db-type":"PostgreSQL","gen-table-custom-orderby-column":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"10f19566-d2dd-3232-bd4a-3f1430718548","gen-table-fetch-partition-size":"100000000","Columns to Return":null,"Maximum-value Columns":null,"db-fetch-where-clause":null,"gen-table-column-for-val-partitioning":null},"propertyDescriptors":{"gen-table-output-flowfile-on-zero-results":{"name":"gen-table-output-flowfile-on-zero-results","displayName":"Output Empty FlowFile on Zero Results","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"db-fetch-db-type":{"name":"db-fetch-db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"gen-table-custom-orderby-column":{"name":"gen-table-custom-orderby-column","displayName":"Custom ORDER BY Column","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"gen-table-fetch-partition-size":{"name":"gen-table-fetch-partition-size","displayName":"Partition Size","identifiesControllerService":false,"sensitive":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false},"db-fetch-where-clause":{"name":"db-fetch-where-clause","displayName":"Additional WHERE clause","identifiesControllerService":false,"sensitive":false},"gen-table-column-for-val-partitioning":{"name":"gen-table-column-for-val-partitioning","displayName":"Column for Value Partitioning","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"2838878d-8568-3c35-948b-90c78619752f","instanceIdentifier":"226190ea-5c55-3624-99b9-5de2d18ee1f2","name":"Transform Avro to CSV","comments":"","position":{"x":1376.0,"y":256.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"record-writer":"927db376-db14-3d63-ae23-92ea59b9cda9","record-reader":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"4b340f73-0e06-3970-b8b7-63abe81c8311","instanceIdentifier":"6076435a-086e-3703-a36c-d2a15162a970","name":"LogMessage","comments":"","position":{"x":720.0,"y":-8.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"log-message":"validate the processor configuration","log-level":"error","log-prefix":"nifi flow failed"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ef23ff49-f001-3f2a-bca9-9a43eed1669a","instanceIdentifier":"0a6c87f2-47fe-36ce-bd33-f9e5e7301a19","name":"","source":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"aba0d0ed-5038-3554-ac48-a852c03e4b8d"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"LogMessage","comments":"","instanceIdentifier":"6076435a-086e-3703-a36c-d2a15162a970"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"9f463ba7-164e-3683-a242-c99ddc7215f1","instanceIdentifier":"731f3b97-1dd2-3dba-b697-5c5f1ad96684","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"226190ea-5c55-3624-99b9-5de2d18ee1f2"},"destination":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Construct Filename","comments":"","instanceIdentifier":"9a46e7a7-a0fa-3a9e-be3c-3b7626f440d1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"4a147ebf-92e2-330a-b466-e764d9567a46","instanceIdentifier":"dba3fa59-6581-349e-9362-78fe76ac7611","name":"","source":{"id":"cb4d2e54-f1f6-3b12-bbb6-07a5d08828cf","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Construct Filename","comments":"","instanceIdentifier":"9a46e7a7-a0fa-3a9e-be3c-3b7626f440d1"},"destination":{"id":"229b49f8-f9ac-357b-972a-942d7d007348","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"aba0d0ed-5038-3554-ac48-a852c03e4b8d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"2d032514-7755-38cf-8678-f54403edd86d","instanceIdentifier":"9db0b248-b240-32f1-8686-2c30031e4b8a","name":"","source":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"226190ea-5c55-3624-99b9-5de2d18ee1f2"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"LogMessage","comments":"","instanceIdentifier":"6076435a-086e-3703-a36c-d2a15162a970"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"fe2c5ffc-4638-34c5-a989-1899f4fe3085","instanceIdentifier":"e3799e0c-adf7-3ca0-9622-70f4d9e5f29a","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Fetch Tables","comments":"","instanceIdentifier":"e7746f4c-4801-3881-9523-41b6c871dc37"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"LogMessage","comments":"","instanceIdentifier":"6076435a-086e-3703-a36c-d2a15162a970"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"e0b58c6e-0b71-3670-a150-bf6300ab3bb8","instanceIdentifier":"06684a02-eb4d-36f7-8b86-e21ea6598248","name":"","source":{"id":"5255660e-5093-3420-837b-fc841ce73bf9","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"List contents of external database","comments":"","instanceIdentifier":"9f7cc3b1-ea01-3e96-853b-444e2e3980b6"},"destination":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Fetch Tables","comments":"","instanceIdentifier":"e7746f4c-4801-3881-9523-41b6c871dc37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"d4e4e01b-df88-3090-87c4-c079146eb7e8","instanceIdentifier":"055a156e-3e66-35c3-beb1-c1a88a80dbaa","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"263365a1-2ec0-36ef-90bb-0aa5cb9fbf82"},"destination":{"id":"4b340f73-0e06-3970-b8b7-63abe81c8311","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"LogMessage","comments":"","instanceIdentifier":"6076435a-086e-3703-a36c-d2a15162a970"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"5054c52a-81c4-317b-9cdb-fbde912083f9","instanceIdentifier":"1ab6c191-8143-3543-b6c2-e83c799aa5c8","name":"","source":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"1e5848a5-881d-34ac-ae33-724b81106eb7"},"destination":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"263365a1-2ec0-36ef-90bb-0aa5cb9fbf82"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"3a67ba3b-e07e-3edb-8409-b58ac57dada8","instanceIdentifier":"6d83d6cc-6d0d-3956-af41-95c201c63c9f","name":"","source":{"id":"ee22e13d-2e6c-3730-b05b-d9f06b015d60","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Execute extraction SQL Query","comments":"","instanceIdentifier":"263365a1-2ec0-36ef-90bb-0aa5cb9fbf82"},"destination":{"id":"2838878d-8568-3c35-948b-90c78619752f","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Transform Avro to CSV","comments":"","instanceIdentifier":"226190ea-5c55-3624-99b9-5de2d18ee1f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"d11529ea-f580-3452-b369-82a381f8aa9b","instanceIdentifier":"87f48b91-ee2a-35be-8256-7266601266c9","name":"","source":{"id":"56ff748b-6b2e-3302-ac9e-6dcc9b5bc116","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Fetch Tables","comments":"","instanceIdentifier":"e7746f4c-4801-3881-9523-41b6c871dc37"},"destination":{"id":"9aeb0d8e-c93d-3bf8-8872-b01f2d85267f","type":"PROCESSOR","groupId":"b9145865-c268-3d63-ada5-bdb6d75a8467","name":"Get UUID & update attributes","comments":"","instanceIdentifier":"1e5848a5-881d-34ac-ae33-724b81106eb7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"}],"labels":[{"identifier":"9a3efee1-c619-385a-96ee-cd3e66a71a73","instanceIdentifier":"6e01b559-df41-30ac-94d1-40b24a975770","position":{"x":504.0,"y":-80.0},"label":"Error handling","zIndex":0,"width":784.0,"height":288.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"}],"funnels":[],"controllerServices":[{"identifier":"927db376-db14-3d63-ae23-92ea59b9cda9","instanceIdentifier":"72e82ffc-b744-3a02-9773-226c6ca57c28","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":",","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"full-schema-attribute","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"10f19566-d2dd-3232-bd4a-3f1430718548","instanceIdentifier":"436527be-407f-301e-a094-b3d37a7426cf","name":"Database Connection","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://#{db_host}:#{db_port}/#{db_name}?ssl=true&sslmode=allow","dbcp-time-between-eviction-runs":"-1","Database User":"#{db_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{driver_location}","dbcp-max-idle-conns":"8","Password":"#{db_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"7cdac9db-ca6a-32a6-85a2-0976e800df78","instanceIdentifier":"4fe3f4b5-92c4-3565-b2cd-4ebb8afbdf7e","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"},{"identifier":"159e2b0a-ae59-36f6-b19a-e9c18f0e4a0e","instanceIdentifier":"eab4bd33-e851-384e-a6ef-08c2911b700e","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"b9145865-c268-3d63-ada5-bdb6d75a8467"}],"variables":{},"parameterContextName":"load-data-from-ext-db","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"load-data-from-ext-db":{"name":"load-data-from-ext-db","parameters":[{"name":"cdp-password","description":"","sensitive":true},{"name":"db_name","description":"","sensitive":false,"value":"airlinedata"},{"name":"landing-directory-path","description":"","sensitive":false,"value":"s3a://vmuzyrnd6olu-cdp-private-default-ikvldyr/landing/airlines"},{"name":"driver_location","description":"","sensitive":false,"value":"/tmp/jdbc/postgresql-42.2.26.jre6.jar"},{"name":"db_username","description":"","sensitive":false,"value":"sstreadwrite"},{"name":"db_port","description":"","sensitive":false,"value":"5432"},{"name":"cdp-username","description":"","sensitive":false,"value":"srv_cz_machine_user_vmuzyrnd6o"},{"name":"db_password","description":"","sensitive":true},{"name":"db_host","description":"","sensitive":false,"value":"self-service-trial-source.cluster-ro-cohsea0udkfq.us-east-1.rds.amazonaws.com"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}