deployment/ingest/Step_2)_Data_Engineering_&_ETL_ELT.json
{"flowContents":{"identifier":"e7155de3-8473-33e8-918e-850d03704844","instanceIdentifier":"2d8183d1-01e9-1c84-ffff-ffffa9cde085","name":"Step 2) Data Engineering & ETL/ELT","comments":"","position":{"x":16.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f4ed58e7-62d8-389a-b430-fdd90805fcaf","instanceIdentifier":"2ebd493f-41c6-375e-8154-ce55fa75d940","name":"Filter the Tablename","comments":"","position":{"x":1152.0,"y":-40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replaceAll('.csv.avro','')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"edf8437e-4a41-341c-a4a7-b42a89f4aa16","instanceIdentifier":"2a18667d-5d40-34ea-a7be-d6e9e2931ec5","name":"Get the Airlines data in CSV","comments":"","position":{"x":-40.0,"y":-552.0},"type":"org.apache.nifi.processors.hadoop.ListCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp-password}","maximum-file-age":null,"record-writer":null,"cdp-storage-location":"#{s3-bucket-private}/","Kerberos Principal":"#{cdp-username}","Recurse Subdirectories":"false","file-filter-mode":"filter-mode-files-only","minimum-file-age":null,"File Filter":".*","Directory":"#{objects-directory}/"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"d9df9265-e763-39d0-a9d9-be4c686e93a4","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048","name":"LogMessage","comments":"","position":{"x":552.0,"y":-304.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"log-message":"validate the processor configuration","log-level":"error","log-prefix":"nifi flow failed"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"fdf5fb01-d75e-35f6-8041-2186f9d318ae","instanceIdentifier":"dcdef167-6787-38fe-a604-d87b0ee6d942","name":"Construct Hive DDL","comments":"","position":{"x":552.0,"y":208.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replaceAll('.orc','')}","hive.ddl":"${hive.ddl:replaceAll('UNIONTYPE<INT, STRING>','STRING')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"hive.ddl":{"name":"hive.ddl","displayName":"hive.ddl","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"fa3de203-a731-336f-a7a3-b030bc86e644","instanceIdentifier":"14797f28-a76d-300d-a96c-3975251bf261","name":"Create Dynamic Schema","comments":"","position":{"x":1160.0,"y":-544.0},"type":"org.apache.nifi.processors.kite.InferAvroSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Schema Output Destination":"flowfile-attribute","Get CSV Header Definition From Data":"true","Avro Record Name":"airlines","Charset":"UTF-8","CSV Header Line Skip Count":"0","CSV delimiter":",","CSV Escape String":"\\","CSV Header Definition":null,"Input Content Type":"csv","Pretty Avro Output":"true","CSV Quote String":"'","Number Of Records To Analyze":"10"},"propertyDescriptors":{"Schema Output Destination":{"name":"Schema Output Destination","displayName":"Schema Output Destination","identifiesControllerService":false,"sensitive":false},"Get CSV Header Definition From Data":{"name":"Get CSV Header Definition From Data","displayName":"Get CSV Header Definition From Data","identifiesControllerService":false,"sensitive":false},"Avro Record Name":{"name":"Avro Record Name","displayName":"Avro Record Name","identifiesControllerService":false,"sensitive":false},"Charset":{"name":"Charset","displayName":"Charset","identifiesControllerService":false,"sensitive":false},"CSV Header Line Skip Count":{"name":"CSV Header Line Skip Count","displayName":"CSV Header Line Skip Count","identifiesControllerService":false,"sensitive":false},"CSV delimiter":{"name":"CSV delimiter","displayName":"CSV delimiter","identifiesControllerService":false,"sensitive":false},"CSV Escape String":{"name":"CSV Escape String","displayName":"CSV Escape String","identifiesControllerService":false,"sensitive":false},"CSV Header Definition":{"name":"CSV Header Definition","displayName":"CSV Header Definition","identifiesControllerService":false,"sensitive":false},"Input Content Type":{"name":"Input Content Type","displayName":"Input Content Type","identifiesControllerService":false,"sensitive":false},"Pretty Avro Output":{"name":"Pretty Avro Output","displayName":"Pretty Avro Output","identifiesControllerService":false,"sensitive":false},"CSV Quote String":{"name":"CSV Quote String","displayName":"CSV Quote String","identifiesControllerService":false,"sensitive":false},"Number Of Records To Analyze":{"name":"Number Of Records To Analyze","displayName":"Number Of Records To Analyze","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"50e555a9-9448-33df-8e19-e61f99a434be","instanceIdentifier":"f254d1a0-930c-3606-a9a2-10e623786968","name":"Extract Data from CSV to Avro","comments":"","position":{"x":1160.0,"y":-296.0},"type":"org.apache.nifi.processors.kite.ConvertCSVToAvro","bundle":{"group":"org.apache.nifi","artifact":"nifi-kite-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"CSV quote character":"\"","Use CSV header line":"false","CSV charset":"utf8","Lines to skip":"1","CSV delimiter":",","Hadoop configuration files":null,"kite-compression-type":"SNAPPY","CSV escape character":"\\","Record schema":"${inferred.avro.schema}"},"propertyDescriptors":{"CSV quote character":{"name":"CSV quote character","displayName":"CSV quote character","identifiesControllerService":false,"sensitive":false},"Use CSV header line":{"name":"Use CSV header line","displayName":"Use CSV header line","identifiesControllerService":false,"sensitive":false},"CSV charset":{"name":"CSV charset","displayName":"CSV charset","identifiesControllerService":false,"sensitive":false},"Lines to skip":{"name":"Lines to skip","displayName":"Lines to skip","identifiesControllerService":false,"sensitive":false},"CSV delimiter":{"name":"CSV delimiter","displayName":"CSV delimiter","identifiesControllerService":false,"sensitive":false},"Hadoop configuration files":{"name":"Hadoop configuration files","displayName":"Hadoop configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kite-compression-type":{"name":"kite-compression-type","displayName":"Compression type","identifiesControllerService":false,"sensitive":false},"CSV escape character":{"name":"CSV escape character","displayName":"CSV escape character","identifiesControllerService":false,"sensitive":false},"Record schema":{"name":"Record schema","displayName":"Record schema","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"45b21aed-e4b1-3239-8e0d-10f109f9f552","instanceIdentifier":"faab4ca9-1b8b-3bbf-a760-9c685b3f501a","name":"Fetch each file","comments":"","position":{"x":544.0,"y":-560.0},"type":"org.apache.nifi.processors.hadoop.FetchCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"filename":"${path}/${filename}","Kerberos Password":"#{cdp-password}","cdp-storage-location":"#{s3-bucket-private}","Kerberos Principal":"#{cdp-username}"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"filename":{"name":"filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"283f2871-e194-3c52-90ef-7b396faf7593","instanceIdentifier":"81d1647b-1471-3ac4-96ac-befc1b81a9a0","name":"Add ORC location to Hive.ddl","comments":"","position":{"x":-88.0,"y":-32.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"create database if not exists #{hive_database};${hive.ddl} LOCATION '#{s3-bucket-private}#{orc-directory}/${filename}/'","Evaluation Mode":"Entire text","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace"},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"9e838b44-ca3e-39b5-9ed2-5358dd5bafc8","instanceIdentifier":"019a008c-fa09-3507-94e9-cfe690caef94","name":"Place ORC file in S3","comments":"","position":{"x":552.0,"y":-48.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.2.5.0-59"},"properties":{"kerberos-credentials-service":null,"Kerberos Password":"#{cdp-password}","cdp-storage-location":"#{s3-bucket-private}/","Kerberos Principal":"#{cdp-username}","writing-strategy":"writeAndRename","Directory":"#{orc-directory}/${filename}/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"33ab61d2-2f32-3def-b4e1-40f86a4a5aac","instanceIdentifier":"ae63ba45-247d-3a11-8a18-d8fef82683d4","name":"Create ORC file","comments":"","position":{"x":1152.0,"y":208.0},"type":"org.apache.nifi.processors.hive.ConvertAvroToORC","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"orc-config-resources":null,"orc-buffer-size":"10 KB","orc-compression-type":"NONE","orc-stripe-size":"64 MB","orc-hive-table-name":"#{hive_database}.${filename}"},"propertyDescriptors":{"orc-config-resources":{"name":"orc-config-resources","displayName":"ORC Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"orc-buffer-size":{"name":"orc-buffer-size","displayName":"Buffer Size","identifiesControllerService":false,"sensitive":false},"orc-compression-type":{"name":"orc-compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"orc-stripe-size":{"name":"orc-stripe-size","displayName":"Stripe Size","identifiesControllerService":false,"sensitive":false},"orc-hive-table-name":{"name":"orc-hive-table-name","displayName":"Hive Table Name","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"f82bfe26-c7a6-3caf-9130-acd2fe86bc01","instanceIdentifier":"5bcc3ad0-8b7d-3ee3-a4d5-d602caeda526","name":"Create Hive Table","comments":"","position":{"x":-88.0,"y":208.0},"type":"org.apache.nifi.processors.hive.PutHiveQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"statement-delimiter":";","Hive Database Connection Pooling Service":"80a565b2-2bd6-342b-9323-7a7406089945","hive-charset":"UTF-8","rollback-on-failure":"false","hive-batch-size":"100"},"propertyDescriptors":{"statement-delimiter":{"name":"statement-delimiter","displayName":"Statement Delimiter","identifiesControllerService":false,"sensitive":false},"Hive Database Connection Pooling Service":{"name":"Hive Database Connection Pooling Service","displayName":"Hive Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"hive-charset":{"name":"hive-charset","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"hive-batch-size":{"name":"hive-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"afb8c11f-4cb0-398e-b4b2-7dcabb49be3e","instanceIdentifier":"3a91abb6-c2ea-35cb-918f-a4d569583c53","name":"","source":{"id":"9e838b44-ca3e-39b5-9ed2-5358dd5bafc8","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Place ORC file in S3","comments":"","instanceIdentifier":"019a008c-fa09-3507-94e9-cfe690caef94"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"3dc8c89d-ced5-3d27-8b15-d16422b7368a","instanceIdentifier":"2ec3357c-01da-362f-bf47-8e0ab250ecde","name":"","source":{"id":"283f2871-e194-3c52-90ef-7b396faf7593","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Add ORC location to Hive.ddl","comments":"","instanceIdentifier":"81d1647b-1471-3ac4-96ac-befc1b81a9a0"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"03a78625-2938-31a6-b131-8c8185c2086d","instanceIdentifier":"e9b495af-2f92-32d0-856c-ebc4e51128e6","name":"","source":{"id":"fa3de203-a731-336f-a7a3-b030bc86e644","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Dynamic Schema","comments":"","instanceIdentifier":"14797f28-a76d-300d-a96c-3975251bf261"},"destination":{"id":"50e555a9-9448-33df-8e19-e61f99a434be","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Extract Data from CSV to Avro","comments":"","instanceIdentifier":"f254d1a0-930c-3606-a9a2-10e623786968"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"22bc7ff7-509b-35de-a203-874c8b5b1643","instanceIdentifier":"4cb8c5da-e3e1-32a8-9f1a-5c1d81b15522","name":"","source":{"id":"33ab61d2-2f32-3def-b4e1-40f86a4a5aac","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create ORC file","comments":"","instanceIdentifier":"ae63ba45-247d-3a11-8a18-d8fef82683d4"},"destination":{"id":"fdf5fb01-d75e-35f6-8041-2186f9d318ae","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Construct Hive DDL","comments":"","instanceIdentifier":"dcdef167-6787-38fe-a604-d87b0ee6d942"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"12949d08-5927-35f6-8bfa-2f6592f04c52","instanceIdentifier":"9e7d2b32-41f5-3d03-86ce-bbe0c3e86084","name":"","source":{"id":"50e555a9-9448-33df-8e19-e61f99a434be","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Extract Data from CSV to Avro","comments":"","instanceIdentifier":"f254d1a0-930c-3606-a9a2-10e623786968"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["incompatible","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"9eedafdb-e8f3-3209-b973-36c8a965c2f2","instanceIdentifier":"ec882a4d-3b2c-381a-9623-f8a76844ad3a","name":"","source":{"id":"fdf5fb01-d75e-35f6-8041-2186f9d318ae","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Construct Hive DDL","comments":"","instanceIdentifier":"dcdef167-6787-38fe-a604-d87b0ee6d942"},"destination":{"id":"9e838b44-ca3e-39b5-9ed2-5358dd5bafc8","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Place ORC file in S3","comments":"","instanceIdentifier":"019a008c-fa09-3507-94e9-cfe690caef94"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"f48ac0f1-d9d4-3970-b72c-751671c2039f","instanceIdentifier":"05d3dff3-63a5-3f85-bd36-890c08ed4ced","name":"","source":{"id":"283f2871-e194-3c52-90ef-7b396faf7593","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Add ORC location to Hive.ddl","comments":"","instanceIdentifier":"81d1647b-1471-3ac4-96ac-befc1b81a9a0"},"destination":{"id":"f82bfe26-c7a6-3caf-9130-acd2fe86bc01","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Hive Table","comments":"","instanceIdentifier":"5bcc3ad0-8b7d-3ee3-a4d5-d602caeda526"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"b96d0676-29bf-3460-99a7-a9d25b4959e0","instanceIdentifier":"ff56be7f-417b-35e5-8756-5b3f2e043980","name":"","source":{"id":"fa3de203-a731-336f-a7a3-b030bc86e644","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Dynamic Schema","comments":"","instanceIdentifier":"14797f28-a76d-300d-a96c-3975251bf261"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unsupported content","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"e5a8d827-5fe9-3287-a0f1-8b4acb35c9a2","instanceIdentifier":"b3618286-2e60-39a0-82c5-1f92c84642a9","name":"","source":{"id":"f4ed58e7-62d8-389a-b430-fdd90805fcaf","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Filter the Tablename","comments":"","instanceIdentifier":"2ebd493f-41c6-375e-8154-ce55fa75d940"},"destination":{"id":"33ab61d2-2f32-3def-b4e1-40f86a4a5aac","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create ORC file","comments":"","instanceIdentifier":"ae63ba45-247d-3a11-8a18-d8fef82683d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"caee2f60-4040-33bd-a65c-d9fae3f4a587","instanceIdentifier":"b5823a00-4fd1-388f-b040-d8de537e43ef","name":"","source":{"id":"33ab61d2-2f32-3def-b4e1-40f86a4a5aac","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create ORC file","comments":"","instanceIdentifier":"ae63ba45-247d-3a11-8a18-d8fef82683d4"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"792ecc22-9400-39b1-b584-4543bef80cb0","instanceIdentifier":"ba99c159-791c-33fc-9bd4-4c2ec2470136","name":"","source":{"id":"45b21aed-e4b1-3239-8e0d-10f109f9f552","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Fetch each file","comments":"","instanceIdentifier":"faab4ca9-1b8b-3bbf-a760-9c685b3f501a"},"destination":{"id":"fa3de203-a731-336f-a7a3-b030bc86e644","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Dynamic Schema","comments":"","instanceIdentifier":"14797f28-a76d-300d-a96c-3975251bf261"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"cca00982-76f0-361d-9416-3263eed8f253","instanceIdentifier":"2a0d4199-5b3f-3ed3-a8d4-e9c0fe597fdb","name":"","source":{"id":"edf8437e-4a41-341c-a4a7-b42a89f4aa16","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Get the Airlines data in CSV","comments":"","instanceIdentifier":"2a18667d-5d40-34ea-a7be-d6e9e2931ec5"},"destination":{"id":"45b21aed-e4b1-3239-8e0d-10f109f9f552","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Fetch each file","comments":"","instanceIdentifier":"faab4ca9-1b8b-3bbf-a760-9c685b3f501a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"0f3f4f31-a59e-3908-b4c0-461c8795dd10","instanceIdentifier":"62a9f96d-56f3-397b-9ea6-3c845e7a1ff0","name":"","source":{"id":"50e555a9-9448-33df-8e19-e61f99a434be","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Extract Data from CSV to Avro","comments":"","instanceIdentifier":"f254d1a0-930c-3606-a9a2-10e623786968"},"destination":{"id":"f4ed58e7-62d8-389a-b430-fdd90805fcaf","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Filter the Tablename","comments":"","instanceIdentifier":"2ebd493f-41c6-375e-8154-ce55fa75d940"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"d9f199f4-3da2-3824-8694-85ebb4148bd4","instanceIdentifier":"e3825e49-35c4-3ec8-8ca8-6d295ccc1c62","name":"","source":{"id":"9e838b44-ca3e-39b5-9ed2-5358dd5bafc8","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Place ORC file in S3","comments":"","instanceIdentifier":"019a008c-fa09-3507-94e9-cfe690caef94"},"destination":{"id":"283f2871-e194-3c52-90ef-7b396faf7593","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Add ORC location to Hive.ddl","comments":"","instanceIdentifier":"81d1647b-1471-3ac4-96ac-befc1b81a9a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"31a70669-f4d3-38fb-aced-9b51a1d0fcac","instanceIdentifier":"588321c7-495a-3c6c-9a30-d5075d404c9b","name":"","source":{"id":"fa3de203-a731-336f-a7a3-b030bc86e644","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Dynamic Schema","comments":"","instanceIdentifier":"14797f28-a76d-300d-a96c-3975251bf261"},"destination":{"id":"50e555a9-9448-33df-8e19-e61f99a434be","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Extract Data from CSV to Avro","comments":"","instanceIdentifier":"f254d1a0-930c-3606-a9a2-10e623786968"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1592.0,"y":-352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"7f80f3e8-feb4-3560-9c6d-2c108ee27be1","instanceIdentifier":"3d2dc052-0efe-305a-800b-51b407dfaf29","name":"","source":{"id":"45b21aed-e4b1-3239-8e0d-10f109f9f552","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Fetch each file","comments":"","instanceIdentifier":"faab4ca9-1b8b-3bbf-a760-9c685b3f501a"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"0401c4d6-f05c-3b28-a473-643879a52a10","instanceIdentifier":"adde2dc1-4d5e-3dd8-8457-e2c296a12de9","name":"","source":{"id":"f82bfe26-c7a6-3caf-9130-acd2fe86bc01","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"Create Hive Table","comments":"","instanceIdentifier":"5bcc3ad0-8b7d-3ee3-a4d5-d602caeda526"},"destination":{"id":"d9df9265-e763-39d0-a9d9-be4c686e93a4","type":"PROCESSOR","groupId":"e7155de3-8473-33e8-918e-850d03704844","name":"LogMessage","comments":"","instanceIdentifier":"41a3dca0-f011-322c-a40e-def7c11cf048"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"}],"labels":[{"identifier":"6887fdb6-6f61-3736-8ea9-ef1571231e54","instanceIdentifier":"d240a45b-1835-3afb-9918-7ff93b136e1b","position":{"x":336.0,"y":-416.0},"label":"Error Handling","zIndex":0,"width":776.0,"height":384.0,"style":{"font-size":"16px"},"componentType":"LABEL","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"}],"funnels":[],"controllerServices":[{"identifier":"34ddeb4c-f1f7-3b2a-999e-9bc050be1af9","instanceIdentifier":"c43b2688-db57-3c7b-a65b-36e002c588ce","name":"ParquetRecordSetWriter","type":"org.apache.nifi.parquet.ParquetRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"schema-branch":null,"max-padding-size":null,"avro-write-old-list-structure":"true","row-group-size":null,"schema-cache":null,"enable-dictionary-encoding":null,"Schema Write Strategy":"no-schema","page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"enable-validation":null,"dictionary-page-size":null,"int96-fields":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}","avro-add-list-element-records":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"int96-fields":{"name":"int96-fields","displayName":"INT96 Fields","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"80a565b2-2bd6-342b-9323-7a7406089945","instanceIdentifier":"8d9f14bb-39f1-35bf-9aa8-a11f4bd65097","name":"Hive3ConnectionPool","comments":"","type":"org.apache.nifi.dbcp.hive.Hive3ConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive3-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"dbcp-min-idle-conns":"0","hive-db-password":"#{cdp-password}","dbcp-min-evictable-idle-time":"30 mins","hive-config-resources":null,"kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Kerberos Keytab":null,"hive-max-total-connections":"8","dbcp-time-between-eviction-runs":"-1","hive-db-connect-url":"#{hive_connection_uri}","Kerberos Principal":null,"dbcp-soft-min-evictable-idle-time":"-1","hive-max-wait-time":"500 millis","dbcp-max-idle-conns":"8","hive-db-user":"#{cdp-username}"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-password":{"name":"hive-db-password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-config-resources":{"name":"hive-config-resources","displayName":"Hive Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"hive-max-total-connections":{"name":"hive-max-total-connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"hive-db-connect-url":{"name":"hive-db-connect-url","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"hive-max-wait-time":{"name":"hive-max-wait-time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"hive-db-user":{"name":"hive-db-user","displayName":"Database User","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}},{"type":"org.apache.nifi.dbcp.hive.Hive3DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.16.0.2.2.5.0-59"}},{"type":"org.apache.nifi.dbcp.hive.HiveDBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hive-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"e7d48571-dc1d-3bc5-9cc2-50684f4d15d0","instanceIdentifier":"592f7a41-b916-3af3-a31b-0e1b26061bf5","name":"CSVReader","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"ignore-csv-header":"false","schema-branch":null,"CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"},{"identifier":"df044096-f2dd-3ce8-a3a6-41dfd6c4abfc","instanceIdentifier":"8b3bbb6f-728d-3a4f-917e-9df0737c0b9f","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.16.0.2.2.5.0-59"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.16.0.2.2.5.0-59"}}],"scheduledState":"ENABLED","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e7155de3-8473-33e8-918e-850d03704844"}],"variables":{},"parameterContextName":"cdp-create-hive-table-from-s3","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"cdp-create-hive-table-from-s3":{"name":"cdp-create-hive-table-from-s3","parameters":[{"name":"hive_database","description":"","sensitive":false,"value":"airlines"},{"name":"cdp-password","description":"","sensitive":true},{"name":"hive_connection_uri","description":"","sensitive":false,"value":"jdbc:hive2://cdponede-desmanager0.cdponede.rzqg-cft2.cloudera.site/;ssl=true;transportMode=http;httpPath=cdponede/cdp-proxy-api/hive"},{"name":"s3-bucket-private","description":"","sensitive":false,"value":"s3a://cdponedemo-cdp-private-default-3hxxiqv"},{"name":"cdp-username","description":"","sensitive":false,"value":"gsandeepkumar"},{"name":"orc-directory","description":"","sensitive":false,"value":"/landing/airlines_orc"},{"name":"objects-directory","description":"","sensitive":false,"value":"/landing/airlines"},{"name":"file-filter","description":"","sensitive":false,"value":"[^\\.].*"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0"}